@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.Inter {
    margin: 0;
    padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.banner-head {
    width: 1440px;
    height: 715px;
    box-sizing: border-box;
    margin:0 0 1838px;

}





/* shared style here 
.banner-head {
    max-width: 1440px;
    /* max-height: 2811px; */


/* Hex-text -color */
.text {
    color:rgba(255, 255, 255, 1);
}
.gray {
    color: gray;

}
.dark-1{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

}
.dark-2 {
    background-color: (17, 17, 17),rgba(119, 119, 119, 0)
}
.orange {
    color:rgba(230, 83, 60, 1);
}
/* Hex-btn-orange-color */
.btn-primary {
    background-color:rgba(230, 83, 60, 1);
    font-weight: bo;
    color:rgba(255, 255, 255, 1);
    padding: 10px 30px;
    border-radius: 300px;
    margin-top: 0;
    border: none;
}

/* navbar style here */
nav{
    display: flex;
    justify-content: space-between;
    /* max-height: 48px; */
}
nav a {
    text-decoration: none;
    color: black;
}

.fram-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
    width: 50%;
}
.frame-1-container {
    display: flex;
    justify-content: center;

}





/* .title { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:#E6533C;
    font-size: 36px;
    font-weight: 800px;
    margin: 59px 190px 0px 190px ;
    /* width: 550px; */
    /* height: 480x; 
    font-style: italic;
}*/

 .navbar,.banner { 
    /* max-width: 1440px; */
    margin: 0 auto;
    /* min-height: 715px; */
    border: 1px;
    border-color:2px solid aqua;
}

/* banner style here */
.banner {
    margin:10px 650px 76px 190px;
    background-blend-mode: overlay;
    box-shadow: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 599px; */
    /* height: 440px; */
}

.banner-titel {

    font-size: 45px;
    font-weight: bold;
    width: 599px; 
    height: 440px;


}

.banner-description {
    font-size:6px;
    font-weight: 400px;
    margin: 20px 0 ;
    color: gray;
}

.banner-profile-picture {
    background-color: (255, 255, 255, 0.1)
}



/* main section start here */
.shedule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}




.shedule-content {
    max-width: 1440px;

}
.shedule-title {
    font-size: 36px;
    font-weight: bolder;
    margin:100px 0px 10px;
    color: white;
    text-align: center;
}

.shedule-description {
    font-size: 6px;
    font-weight: bold;
    color: gray;
    margin: 0 ;
    text-align: center;


}


.shedule-picture {
    border-radius: 50%;
    margin:30px 30px;
    margin-bottom: 0;

}


.list {
    margin: 10px 20px;
    margin-top: 0;

}
.text-h6 {
    margin: 10px 40px;
}
